@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animated-gradient {
    background: linear-gradient(-45deg, #a1c4fd, #c2e9fb, #e0c2fb, #eea6cd);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
  }